%section
  .container
    .row
      .col-xs-12.col-md-8
        .meat.mb20.mobile-minus
          %p.size-20px.bold
            Еда и выездное
            %br/
            обслуживание
          %div.visible-xs
            %a.btn.btn-success{href: "#new_food_order"} Заказать еду
        %p.mb40
          Собрали компанию, нашли подходящее место — выходные обещают быть отличными! Но как же добраться дл базы отдыха? Далеко не всегда можно уместиться всей компанией в личные автомобили. Воспользуйтесь нашим транспортом! Мы возьмем на себя быструю и комфортную поездку в обе стороны.
        .row.mb40
          .col-xs-12.mb20
            %img.img-responsive{alt: "", src: "assets/eda.jpg"}/
      .col-xs-12.col-md-4
        .right-price.visible-lg.visible-md.text-center
          .bold.size-18px
            Закажите доставку еды
            %br/
        = render 'form'
        = render 'application/sidebar/phone'
        = render 'application/sidebar/socials'
