%section
  .container
    .row
      .col-xs-12.col-md-8
        .meat.mb20.mobile-minus
          %p.size-20px.bold
            Еда и выездное
            %br/
            обслуживание
          %div.visible-xs
            %a.btn.btn-success{href: "#new_food_order"} Заказать еду
        %p
          Далеко не всегда можно уместиться всей компанией в личные автомобили. И садиться за руль после хорошего отдыха иной раз не хочется.
        %p
          Мы предоставляем услуги водителя с машиной, которая доставит вас и ваших друзей к месту отдыха с максимальным комфортом. Если вы планируете провести за городом встречу с партнерами по бизнесу, то можно заказать трансфер из аэропорта или вокзала. И вам не придется ломать голову, кроить время и искать прокат автомобилей.
        %p.mb40
          Мы возьмем на себя быструю и комфортную поездку в обе стороны!
        .row.mb40
          .col-xs-12.mb20
            %img.img-responsive{alt: "", src: "assets/eda.jpg"}/
      .col-xs-12.col-md-4
        .right-price.visible-lg.visible-md.text-center
          .bold.size-18px
            Закажите доставку еды
            %br/
        = render 'form'
        = render 'application/sidebar/phone'
        = render 'application/sidebar/socials'
