%section
  .container
    .row
      .col-xs-12.col-md-8
        .meat.mb20.mobile-minus
          %p.size-20px.bold
            Еда и выездное
            %br/
            обслуживание
          %div.visible-xs
            %a.btn.btn-success{href: "#new_food_order"} Заказать еду
        .desc
          %p
            Планируя выходные на природе, чаще всего сталкиваешься с проблемой питания. Оставьте эти заботы нам!
          %p
            Доставка еды на заказ -  что может быть удобнее? Наши услуги кейтеринга включают в себя доставку готовой еды и продуктов, приготовление любимых блюд прямо на месте и аренду необходимого оборудования. Так вы сможете учесть самые разнообразные гастрономические пожелания ваших гостей: будь то вегетарианское меню или, например, специальное детское.
          %p.mb40
            Мы позаботимся о том, чтобы ваш отдых стал действительно полноценным, а не запомнился лишь бесконечными сборами и  размышлениями о том, что взять с собой из еды и куда все это положить.
        .row.mb40
          .col-xs-12.mb20
            %img.img-responsive{alt: "", src: "assets/eda.jpg"}/
      .col-xs-12.col-md-4
        .right-price.visible-lg.visible-md.text-center
          .bold.size-18px
            Закажите доставку еды
            %br/
        = render 'form'
        = render 'application/sidebar/phone'
        = render 'application/sidebar/socials'
