%section.houses-block
  .container
    - if header.present?
      %p.light-h2= header
    .row#houses{'data-page' => @page}
      = render partial: 'search/estimates_row', collection: @estimates
    .row
      .col-xs-12.col-md-4.col-md-offset-4
        %a.btn.btn-default.btn-lg.btn-block.more-btn{href: "#", role: 'more-btn'} Показать ещё
.spinner