%section.page-pre-filter-mobile
  .container
    .row
      .col-xs-6.categories-switch
        - Category.find_each do |category|
          - active = @search_form.category.id == category.id ? ' active' : ''
          = link_to category.name, current_url({search_form: {category: category.id}}, [:search_form, :view]), class: "pull-left#{active}"

      .col-xs-6.text-right
        %button.btn.btn-success.btn-filter-collapse{type: "submit", role: "filter-collapse", data: {toggle: "collapse", target: "#filter"} }
          %span.fontello-icon-list-1
          фильтр
        = view_mode_switch
