.media
  = link_to house_url(house), class: 'pull-left' do
    = image_tag house.preview.file.thumb.url, class: 'media-object'
  .media-body
    %h4.media-heading= house.title
    %p= house.description
