%section.page-pre-filter-mobile
  .container
    .row
      .col-xs-6
        %p.light-h2 Все дома
      .col-xs-6.text-right
        %button.btn.btn-success.btn-filter-collapse{type: "submit", role: "filter-collapse", data: {toggle: "collapse", target: "#filter"} }
          %span.fontello-icon-list-1
          фильтр
        %btn.btn.btn-success.btn-filter-collapse.mobile.collapsed{type: "submit", role: "filter-collapse-mobile", data: {toggle: "collapse", target: "#filter"} }
          %span.fontello-icon-list-1
          фильтр
.affix-wrapper.filter.collapse.in
  = render 'filter'


.houses-found
  .container
    - if params[:search_form]
      %h4 #{@matched_houses} из #{@all_houses} домов удовлетворяют вашему запросу
= render partial: 'search/estimates', locals: {header: ''}
