%section
  .container.services
    .row
      .col-xs-12.col-md-4
        .light-h2.text-center.visible-md.visible-lg Не знаете, как добраться?
        .transfer.col-xs-12
          %p
            Трансфер до места
            %br/
            отдыха
          %a.btn.btn-success.col-xs-7{href: transport_index_path} Подробнее
      .col-xs-12.col-md-4
        .light-h2.text-center.visible-md.visible-lg Отдыхайте без лишних хлопот
        .meat.col-xs-12
          %p
            Еда и выездное
            %br>/
            обслуживание
          %a.btn.btn-success.col-xs-7{href: food_index_path} Подробнее
      .col-xs-12.col-md-4
        .light-h2.text-center.visible-md.visible-lg Лучшие впечатления
        .celebrity.col-xs-12
          %p
            Организация
            %br>/
            праздников
          %a.btn.btn-success.col-xs-7{href: page_url('services')} Подробнее