%section
  .container.services
    .row
      .col-xs-12.col-md-4.mb5
        .light-h2.text-center.visible-md.visible-lg Заказать машину
        .transfer.col-xs-12
          .overlay.col-xs-12
          %p
            Трансфер
            %br/
            до места отдыха
          %a.btn.btn-success.col-xs-5{href: transport_index_path} Подробнее
      .col-xs-12.col-md-4.mb5
        .light-h2.text-center.visible-md.visible-lg Кейтеринг и доставка еды
        .meat.col-xs-12
          .overlay.col-xs-12
          %p
            Еда и выездное
            %br>/
            обслуживание
          %a.btn.btn-success.col-xs-5{href: food_index_path} Подробнее
      .col-xs-12.col-md-4.mb5
        .light-h2.text-center.visible-md.visible-lg Лучшие впечатления
        .celebrity.col-xs-12
          .overlay.col-xs-12
          %p
            Организация
            %br>/
            праздников
          %a.btn.btn-success.col-xs-5{href: page_url('services')} Подробнее
