.welcome-image-container
  .welcome-image-background
    .row
      .col-sm-8.col-sm-offset-2
        .welcome-block-search-form
          %h1.welcome-block-title= phrase :jumbotron_title
          %h2.welcome-block-subtitle= phrase :jumbotron_text

          = render 'search_form'
.container
  = render 'estimates'
