.index-page-header
  %h1.text-center Снять дом для загородного отдыха
%section.page-filter
  .container
    .row
      = render 'search_form'
  .text-center.all-houses.visible-md.visible-lg
    %a{:href => houses_path}
      посмотреть все предложения
      %i.fontello-icon-angle-right

= render 'services'
= render partial: 'search/estimates_blocks', locals: {header: 'Лучшие предложения'}
