%p.light-h2 COMFORT
/ %p.light-h2 Удобства
/ %ul.col-xs-6.size-12px-m
/   %li Мангал
/   %li Баня
/   %li Бассейн
/   %li Беседка
/   %li Бильярд
/   %li Камин
/   %li Водоём
/   %li Лес
/   %li Детский досуг
/   %li Настольный теннис
/   %li Электроплита
/   %li Водонагреватель
/   %li Свч печь
/   %li Электрический чайник
/ %ul.col-xs-6.size-12px-m
/   %li Dvd проигрыватель
/   %li Музыкальный центр
/   %li Утюг с гладильный доской
/   %li Фен
/   %li Посуда и принадлежности
/   %li Спутниковое тв
/   %li Постельные принадлежности
/   %li Wi-fi
/   %li Магазин
/   %li Ресторан
/   %li Парковка