.col-xs-9.col-xs-offset-2
  %span.light-price= @house.price_bd
  %span.size-0-9
    \/сутки
    %span.size-12px.bgrey в будни
  %br/
  %p
    %span.light-price= @house.price_wd
    %span.size-0-9
      \/сутки
      %span.size-12px.bgrey в выходные
