@charset "UTF-8"
@import normalize
@import bootstrap/variables
@import variables
@import mixins
@import flat-colors
@import bootstrap
@import compass-components
@import fonts/open-sans
@import fonts
@import fontello/fontello
@import fontello/fontello-codes
@import fontello/fontello-ie7
@import fontello/fontello-ie7-codes
@import icons
@import scaffolding
@import utils
@import tables-responsive
@import bootstrap-datepicker

@import fotorama
@import phrasing
@import isotope
@import active_admin/editor/wysiwyg
// @import jquery.ui.core

@import forms
//@import tables
@import layout
@import navbar
@import footer
@import search-form

@import welcome

.thumbnail .fotorama
  padding-left: 1em

.house_summary
  h3
    margin-top: 0
    padding-top: 0

.money
  word-wrap: normal
  white-space: nowrap

.search-btn
  height: 58px
