input[type="checkbox"]
  display: none

.checkbox input[type="checkbox"] + span
  display: inline-block
  width: 22px
  height: 22px
  vertical-align: middle
  background: url(asset-path('checkbox1.png', image)) left -41px no-repeat
  cursor: pointer
  margin-right: 8px

.checkbox input[type="checkbox"]:checked + span
  background: url(asset-path('checkbox1.png', image)) left top no-repeat
  margin-right: 8px

.checkbox
  padding-left: 0px

.btn-success
  border: 0
  border-bottom: 1px solid #378b36
  text-shadow: -1px 1px 1px #3f9a2e

.form-control,
.control-label
  color: $black
  font-size: 13px

=appearance($a)
  appearance: $a
  -webkit-appearance: $a
  -moz-appearance: $a

select.form-control
  +appearance(none)
  background-size: auto 100%
  background: url(asset-path("select-down-icon.svg", image)) right no-repeat #fff
