.navbar-inverse
  background: url(asset-path('navbar-texture.png')) repeat 0 0
  border: 0
  .navbar-collapse
    border: 0
    +box-shadow(none)
  a
    color: $bwhite
  .navbar-slogan
    font:
      size: $slogan-size
      weight: $weight-lite
    p
      letter-spacing: 1px
      padding-top: $slogan-padding !important
  .navbar-brand
    color: $bwhite
    font-weight: $weight-bold
  .nav-pills
    color: $bwhite
    padding-left: 100px
    .dropdown
      margin-top: 5px
    li > p
      padding-top: 15px
    .glyphicon-earphone
      margin-left: 15px
      @media screen and (max-width: 768px)
        margin-left: 3px

  .navbar-nav > li > a
    color: $bwhite
  .navbar-right
    font-weight: $weight-bold
  .navbar-toggle
    border-color: transparent
    .icon-bar
      background-color: $bwhite
      width: 15px

  .left-line
    border-left: 1px solid $bgreen_l
    height: 30px
    margin-top: 10px
    margin-left: 80px !important
  .navbar-toggle:hover,
  .navbar-toggle:focus
    background-color: $bgreen_d

.navbar-inverse
  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav .active > a,
  .nav .active > a:hover,
  .nav .active > a:focus
    background-color: $bgreen_d
    color: $bwhite_d !important
  .nav .caret
    border-top-color: $bwhite
    border-bottom-color: $bwhite
  .nav a:hover .caret,
  .nav .active > a .caret,
  .nav .active > a:hover .caret,
  .nav .active > a:focus .caret
    border-top-color: $bwhite_d
    border-bottom-color: $bwhite_d
