body
  margin-top: 50px

.container
  min-width: 320px

.bgrey
  color: $light-grey

.mt6
  margin-top: 6px
.mt15
  margin-top: 15px
.mt30
  margin-top: 30px
.mt40
  margin-top: 40px
.mb5
  margin-bottom: 5px
.mb15
  margin-bottom: 15px
.mb20
  margin-bottom: 20px
.mb30
  margin-bottom: 30px
.mb40
  margin-bottom: 40px
.mb90
  margin-bottom: 90px

@media screen and (min-width: 768px)
  .pr0
    padding-right: 0

.mobile-minus
  @media screen and (max-width: 768px)
    margin-right: -15px
    margin-left: -15px




.index-page-header
  background-image: url(asset-path('mobile-1.png', image))
  background-size: cover
  min-height: 112px
  width: 100%
  top: 50px
  position: absolute
  z-index: -1
  h1
    color: $bwhite
    margin: 45px 0 45px 0
    font:
      weight: $weight-bold
      size: $slogan-size-center-min
  @media screen and (min-width: $large-size)
    top: 0px
    height: 500px
    h1
      margin: 150px 0 45px 0
      font-size: $slogan-size-center-max




.page-filter
  background-color: #E5E5E5
  padding-top: 20px
  margin-top: 162px
  label
    font-weight: 400
  @media screen and (max-width: $screen-md-min)
    label
      padding-top: 7px
  @media screen and (min-width: $large-size)
    margin-top: 230px
    background-color: transparent
    label
      color: $bwhite
    .btn-lg
      padding: 8px 16px 7px
      font-size: 15px
      margin-top: 23px
  .all-houses
    margin: 74px 0 80px
    a
      letter-spacing: 1px
      text-transform: uppercase
      text-decoration: none
      font-weight: bold
      font-size: 14px
      color: #fff
    i
      font-size: 17px

.affix-wrapper
  position: relative
  display: block
  &.filter
    height: 63px
    +transition(height .35s ease)
    &.in
      height: 253px
      +transition(height .35s ease)
    @media screen and (min-width: $screen-md-min)
      width: 100%
    @media screen and (max-width: $screen-md-min)
      min-height: 63px
      height: auto !important

#filter
  border-bottom: 1px solid $bgrey_d1
  background: #fff
  overflow: hidden

  position: fixed !important
  width: 100%
  top: 113px
  z-index: 10
  @media screen and (max-width: $screen-md-min)
    position: static !important
    width: auto !important
    top: 0

.page-pre-filter-mobile
  position: fixed !important
  width: 100%
  top: 50px
  background: #fff
  z-index: 10

.btn-filter-comfort
  padding: 8px 16px !important
  font-size: 13px !important


.services
  padding: 50px 15px 90px
  @media screen and (max-width: $screen-md-min)
    padding-bottom: 40px
  p
    position: relative
    margin: 37px 0 25px 0
    line-height: 30px
    z-index: 1
    font:
      size: 24px
      weight: $weight-bold
  .overlay
    position: absolute
    display: block
    height: 241px
    left: 0
    top: 0
    background: rgba(0,0,0,0.3)
    z-index: 0
  .btn
    display: inline-block
    float: none

.transfer, .meat, .celebrity
  position: relative
  padding: 25px 0px
  height: 241px
  color: $bwhite
  text-align: center
  background-repeat: no-repeat
  background-position: 0 0
  background-size: cover


.desc
  line-height: 24px

.houses-found
  background-color: $bgrey
  padding-bottom: 20px
  h4
    padding-top: 30px
.houses-block
  background-color: $bgrey
  padding-bottom: 20px
  .light-h2
    margin: 40px 0
  .house-offer
    +border-top-radius(4px)
    +border-bottom-radius(4px)
    margin-bottom: 30px
    background-color: $bwhite
    .img-responsive
      +border-top-radius(4px)
      +border-bottom-radius(0px)
    .house,
    .desc
      display: block
    .desc
      line-height: 100%
      margin: 15px 15px 0
      min-height: 115px
      text-decoration: none
      color: $text-color
    .title
      color: $black
      margin: 0 0 5px
      line-height: 1.45
    .capacity
      color: $capacity-color
  .btn-house
    padding: 0
    overflow: hidden
    +border-top-radius(0px)
    +border-bottom-radius(4px)
    span
      padding: 14px 0 13px
      margin-bottom: 1px
    .rline
      border-right: 1px solid $bgreen_l
  .more-btn
    margin: 30px 0

.distance
  color: $distance-color


.houses.index .page-pre-filter-mobile,
.catalog-page-filter .page-pre-filter-mobile
  padding: 15px 0 5px 0

.houses.index
  .houses-block
    padding-top: 30px

.houses.index .page-filter,
.catalog-page-filter .page-filter
  background-color: $bgrey_d2
  margin-bottom: 0px
  margin-top: 0px
  padding-bottom: 15px
  label
    color: $bfont

.houses.index
  .checkbox
    margin-bottom: 15px
  .btn-filter
    margin: 15px 0
    padding: 10px 0
  .btn-filter-collapse
    @media screen and (min-width: $screen-md-min)
      display: inline-block
    @media screen and (max-width: $screen-md-min)
      display: none
    &.mobile
      @media screen and (min-width: $screen-md-min)
        display: none
      @media screen and (max-width: $screen-md-min)
        display: inline-block
    &.collapsed
      @extend .btn-default
      text-shadow: none
      border: 1px solid $btn-default-border


.zakaz-doma
  border-bottom: 1px solid #EDF6EA
  margin-bottom: 5px
  .zakaz
    @include border-top-radius(4px)
    @include border-bottom-radius(4px)
    border: 1px solid #BFDFB3
    margin: 8px auto
    color: $bgreen
    padding: 7px 0
    text-align: center
    font-weight: bold

.house-main-content
  .light-h2
    margin: 40px 0
  .table td
    padding-left: 0
    &.bold
      color: $black
  .desc
    margin: 40px 0
  .tags
    display: inline-block
    vertical-align: top
  li
    line-height: 34px
    // line-height: 1.7em
  .photos
    width: 100%
  .choice
    border: 0
    a
      color: $bfont
      padding-bottom: 5px
      text-decoration: none
      border-bottom: 5px solid $bgrey_d2
      font-size: 16px
      line-height: 26px
      &:hover
        color: $bgreen
      &.active
        font-weight: bold
        border-color: $bgreen
        color: $bgreen

.right-price
  margin: 70px 0 30px 30px
  color: $black

.buy-form
  background-color: $bgrey
  padding: 20px 15px 15px 15px
  label
    font-weight: $weight-normal
    margin-bottom: 8px !important
  .form-control
    border: none
  textarea
    resize: vertical
  .checkbox span
    border-radius: 5px
  @media screen and (min-width: 768px)
    padding: 20px 30px 15px 30px
    margin-top: 30px
    @include border-top-radius(4px)
    border: 1px solid $bgrey_d2

.buy-button
  @include border-bottom-radius(4px)
  border: 1px solid $bgrey_d2
  border-top: 0
  overflow: hidden
  background: #fff
  .btn
    margin: 15px 0 20px 0
    padding: 10px 12px
    font-size: 16px
    border-bottom: 1px solid $bgreen_d

.border-grey
  @include border-top-radius(4px)
  @include border-bottom-radius(4px)
  border: 1px solid $bgrey
  padding: 30px 30px

.base-block
  padding-top: 80px
  @media screen and (min-width: 768px)
    padding: 80px 0 50px 0
  .table td
    padding-left: 0
    &.bold
      color: $black
  .reg-h2
    color: $black
    margin: 0 0 30px





.transport .transfer,
.food .meat
  @media screen and (min-width: 768px)
    height: 450px
  p
    padding-top: 20px
    @media screen and (min-width: 768px)
      font-size: 36px
      padding: 100px 0 20px 0

.transport .right-price,
.food .right-price
  margin: 50px 0 50px 0


#house-thumbnails
  .carousel-control
    width: 35px
    .glyphicon-chevron-left,
    .glyphicon-chevron-right
      top: 40%
  .item
    img
      cursor: pointer
    & > div
      overflow: hidden
  .left
    left: $grid-gutter-width / 2
  .right
    right: $grid-gutter-width / 2

#house-carousel
  .carousel-inner > .item
    max-height: 600px
    overflow: hidden

.help-inline
  color: $brand-danger
  font-size: 11px
  margin-bottom: 5px

#comfort-list
  @media screen and (max-width: $large-size)
    display: block !important
  .checkbox
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.table
  & > thead,
  & > tbody,
  & > tfoot
    & > tr
      & > th
      & > td
        border-top: 0
        border-bottom: 1px solid $table-border-color

#new_house_order
  &.affix
    position: fixed !important
    top: 51px
    z-index: 10
    @media screen and (max-width: $screen-md-min)
      position: static !important
      width: auto !important
      top: 0

.order-success
  background: $bgrey_d2
  border-bottom: 1px solid $bgrey
  font-size: 16px
  color: $black
  .center
    border-bottom: 1px solid $bgrey
    background: #fff
    overflow: hidden
    padding: 30px 30px 60px
  h1
    color: $bgreen
    font-size: 23px
    line-height: 32px
    margin-bottom: 40px
  h2
    font-size: 23px
    font-weight: bold
  .table td
    padding-left: 0

.center
  float: none
  margin: 0 auto

.datepicker-wrapper
  position: relative
  .reset-picker
    position: absolute
    display: block
    right: 6px
    top: 7px
    padding: 0
    color: $reset-btn-color
    border: 0
    outline: none
    background: none