.border-grey.bgrey.visible-lg.visible-md
  .bold.mb15 ALSO
/ .border-grey.bgrey.visible-lg.visible-md
/   .bold.mb15 Кстати говоря
/   %p.size-12px
/     Каждый домик рассчитан для проживания от 4-х
/     человек и располагает собственной беседкой-
/     барбекю. В домике есть все необходимое для
/     хорошего семейного отдыха на природе: удобная
/     мебель, летняя беседка-барбекю, для желающих
/     порыбачить рыбацкие мостики. К услугам
/     отдыхающих баня по-деревенски на дровах со
/     свежими вениками, специально натопленная к
/     приезду гостей.