.border-grey.bgrey.visible-lg.visible-md.mb40
  .row
    .col-xs-6.size-12px
      Рассказать друзьям
    .col-xs-6.size-16px
      = render 'socials'
    /   %span.pull-right
    /     %a.fontello-icon-twitter.icon.bgrey{href: "#"}
    /     %a.fontello-icon-facebook.icon.bgrey{href: "#"}
    /     %a.fontello-icon-vkontakte.icon.bgrey{href: "#"}