.row
  .col-xs-2
    .fb-like{"data-action" => "like", "data-href" => Settings.app.asset_host, "data-layout" => "box_count", "data-share" => "false", "data-show-faces" => "false"}
  .col-xs-2
    #vk_like
    :javascript
      VK.Widgets.Like("vk_like", {type: "vertical", height: 24});
  .col-xs-2
    %a.twitter-share-button{"data-count" => "vertical", "data-lang" => "en", "data-related" => "anywhereTheJavascriptAPI", "data-url" => Settings.app.asset_host, :href => "https://twitter.com/share"} Tweet
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  .col-xs-2
    #ok_shareWidget
    :javascript
      var app_url = "#{Settings.app.asset_host}";
      !function (d, id, did, st) {
        var js = d.createElement("script");
        js.src = "http://connect.ok.ru/connect.js";
        js.onload = js.onreadystatechange = function () {
        if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
          if (!this.executed) {
            this.executed = true;
            setTimeout(function () {
              OK.CONNECT.insertShareWidget(id,did,st);
            }, 0);
          }
        }};
        d.documentElement.appendChild(js);
      }(document,"ok_shareWidget", app_url,"{width:75,height:65,st:'rounded',sz:20,ck:1,vt:'1'}");