.row
  - @resorts.each do |resort|
    - resort = ResortDecorator.new resort
    .col-sm-6.col-md-4
      .thumbnail
        = render 'fotorama', images: resort.images, version: :common
        .caption
          = link_to resort_url(resort) do
            %h3= resort.title
          %p= resort.description

          %p
            .btn.btn-success Заказать
