%footer.footer.application-footer
  .container
    .row
      .col-sm-4
        %h3.no-margins
          = link_to Settings.app.title.html_safe, root_url, :class => 'footer-brand'
          %small
            = phrase :footer
    %hr
    .row
      .footer-services-list
        - Service.main do |s|
          - s_block_offset = i==0 ? 'col-sm-offset-1' : ''
          %div{ class: "col-sm-2 #{s_block_offset}"}
            .footer-service-item.text-center
              -#= link_to '', class: 'footer-service-link' do
              %i.icon-size-32=service_icon s.key
              %br
              %h4= s.title

