.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to Settings.app.title, root_url, :class => 'navbar-brand'
    .collapse.navbar-collapse
      = render_navigation :expand_all => true, :renderer => :bootstrap